<!DOCTYPE html>
<html lang="en">

<head>

   <title>
     Account Balance
   </title>

</head>

<body>
  <form>
    <div class="form-inline">
          balance=23000
            <label for="Amount">Amount:</label>
            <input type="number" id="Amount" class="form-control" placeholder="Enter amount($)" required="required">
            if Amount<23000:
              balance-=Amount
            else:
              print('Insufficient Balance')

          </div>
          <br>
  </form>


